html{
    display: flex;
    align-items: center;
    justify-content: center; 
    background-image: linear-gradient(to bottom, #FF4500, #FFDEAD 60%); 
    height: 100%;    
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:cornsilk;
    border: 3px solid rgb(235, 57, 3);
    border-radius: 15px;
    margin-bottom: 197px;
}

.celsius {
    margin-bottom: 20px;
}

.btn {
    width: 150px;
    cursor: pointer;
}

.resultado {
    display: none; 
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 135px;
    margin-top: 60px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    flex-direction: column;
    background-color: #F0F8FF;
}
