main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.celsius {
    margin-bottom: 20px;
}

.btn {
    width: 150px;
    cursor: pointer;
}

.resultado {
    display: none; 
    justify-content: center;
    align-items: center;
    width: 290px;
    height: 135px;
    margin-top: 60px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    flex-direction: column;
}